{% extends "base/base.html" %}
{% block title %}Выход{% endblock %}
{% block head %}
    {% load static %}
    <link href="{% static 'online_test/css/registration.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="content">
        <h1>Регистрация</h1>

        <form class="form-horizontal" method="post" action=".">
            <fieldset>
                {% csrf_token %}
                {{ form.as_p }}
               <p><input type="submit" class="btn btn-success" value="Зарегистрироваться" class="clearfix"></p>
            </fieldset>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('span').prepend('<br>');
    </script>
{% endblock %}