.content {
    text-align: center;
    padding-bottom: 180px;
}

.hh1 {
    margin-top: 50px;
}

.h1_2 {
    margin-top: 25px;
    font-size: 50px;
    color: rgb(255, 155, 0);
}

li {
    list-style-type: none;
}

