{% extends "base/base.html" %}
{% block title %}О ГИА{% endblock %}
{% block head %}
    {% load static %}
    <link href="{% static 'online_test/css/about.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="content">
        <a href="/media/pravila.txt" target="_blank">
        <div>
            <h2 class="h2">Правила проведения ГИА9</h2>
            <p class="text">Правила проведения основного государственного экзамена в 2014 году

(для ознакомления участников ОГЭ/родителей (законных представителей)

Общие сведения

Освоение образовательных программ основного общего образования завершается государственной итоговой аттестацией, обязательной для всех обучающихся.

ГИА проводится в формах основного государственного экзамена и государственного выпускного экзамена...</p>
        </div>
        </a>
        <a href="/media/sovety.txt" target="_blank">
        <div>
            <h2 class="h2">Советы психолога</h2>
            <p class="text">В экзаменационную пору всегда присутствует психологическое напряжение. Стресс при этом – абсолютно нормальная реакция организма.

Легкие эмоциональные всплески полезны, они положительно сказываются на работоспособности и усиливают умственную деятельность. Но излишнее эмоциональное напряжение, зачастую, оказывает обратное действие.

Причиной этого является, в первую очередь, личное отношение к событию.  Поэтому важно формирование адекватного отношения к ситуации. Оно поможет выпускникам разумно распределить силы для подготовки и сдачи экзамена, а родителям – оказать своему ребенку правильную помощь...</p>
        </div>
        </a>
    </div>
{% endblock %}