{% extends "base/base.html" %}
{% block title %}Сдам ГИА!{% endblock %}
{% block content %}
<div class="container text-center glav">
			<div class="row">
				<div class="col-md-12" align="center">
					<h1 class="sdam">я сдам</h1>
					<h2 class="gia">ГИА</h2>
				</div>
			</div>
		</div>

		<div class="good">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12">
					<h2 class="sdelal">я тебя<br>сделал!</h2>
				</div>
				<div class="col-md-12 text-center animated" data-animation="bounceIn">

							<div class="chart">
								<div class="percentage" data-percent="75">
									<span class="percent"></span>
								</div>
							</div>
							<h4>математика</h4>

				</div>
				<div class="name">

					<p>Шафигуллин Марат</p>
				</div>
			</div>
		</div>
		</div>

		<div class="test">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="test2">пройти тест</a>
				</div>
			</div>
		</div>
		</div>

{% endblock %}